Repository winstxnhdw/gxhash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, cargo-lock-tests, cargo-lock-perf, cargo, clippy, clippy-tests, clippy-perf, pyright

cargo-lock:
  name: update cargo lockfiles
  language: system
  entry: cargo update --manifest-path

cargo-lock-tests:
  name: update tests cargo lockfiles
  language: system
  entry: cargo update --manifest-path

cargo-lock-perf:
  name: update perf cargo lockfiles
  language: system
  entry: cargo update --manifest-path

cargo:
  name: cargo test
  language: system
  pass_filenames: false
  entry: cargo test --manifest-path tests/Cargo.toml

clippy:
  name: clippy
  language: system
  pass_filenames: false
  entry: cargo clippy --fix --allow-dirty

clippy-tests:
  name: clippy (tests)
  language: system
  pass_filenames: false
  entry: cargo clippy --fix --allow-dirty --manifest-path tests/Cargo.toml --tests

clippy-perf:
  name: clippy (perf)
  language: system
  pass_filenames: false
  entry: cargo clippy --fix --allow-dirty --manifest-path perf/Cargo.toml --benches

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false
  env:
    UV_LOCKED: '1'

docs: use svg instead of png
  README.md
Due: none

docs: add highlight
  README.md
Due: none

ci(fix): use `ubuntu-latest` for cargo lock update
  .github/workflows/release.yml
Due: none

ci(fix): add lockfiles and undo in separate job
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci: undo release commit on failure
  .github/workflows/publish.yml
Due: none

ci: do not run workflows on tag push
  .github/workflows/clippy.yml
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
Due: none

docs: add footnote
  .github/workflows/lock.yml
  README.md
Due: none

chore(bench): add footnotes to docs and cache exception
  bench/README.md
  bench/src/__init__.py
Due: pyright

ci/style: add pre-commit workflow and formatting changes
  .github/workflows/clippy.yml
  .github/workflows/lock.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Cargo.lock
  bench/Cargo.lock
  bench/src/__init__.py
  perf/Cargo.lock
  perf/hashlib.rs
  src/core.rs
  src/lib.rs
  tests/Cargo.lock
  tests/test_core.rs
Due: cargo, clippy, clippy-tests, clippy-perf, pyright

feat/docs: rename positional parameter names in stub
  .pre-commit-config.yaml
  bench/pyproject.toml
  bench/uv.lock
  perf/Cargo.toml
  pyproject.toml
  python/gxhash/core.pyi
  src/core.rs
  uv.lock
Due: cargo-lock-perf, cargo, clippy

chore: add `uv` precommit
  .pre-commit-config.yaml
  CONTRIBUTING.md
  bench/README.md
  bench/src/__init__.py
  pyproject.toml
Due: pyright

ci: skip `push` if diff is empty
  .github/workflows/lock.yml
Due: none

ci: use actor id instead of username
  .github/workflows/lock.yml
Due: none

chore: pre-commit should run on pre-push
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
Due: none

docs: remove nightly tag
  .github/workflows/release.yml
  CONTRIBUTING.md
  pyproject.toml
Due: none

ci(fix): avoid invalidating commit hash
  .github/workflows/release.yml
Due: none

chore(clippy): treat warnings as errors
  .pre-commit-config.yaml
Due: none

refactor: turn on pedantic lints
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.toml
  bench/Cargo.toml
  bench/src/main.rs
  perf/Cargo.toml
  perf/hash.rs
  perf/hashlib.rs
  perf/helpers.rs
  perf/workload.rs
  src/core.rs
  src/hashlib.rs
  tests/Cargo.toml
  tests/helpers.rs
  tests/test_core.rs
  tests/test_hashlib.rs
Due: cargo-lock, cargo-lock-tests, cargo-lock-perf, cargo, clippy, clippy-tests, clippy-perf

feat/perf: let core API accept `PyBuffer`
  python/gxhash/core.pyi
  src/core.rs
  tests/helpers.rs
  tests/test_smoke.py
Due: cargo, clippy, clippy-tests, pyright

chore: remove lifetime
  src/core.rs
Due: cargo, clippy

perf: skip `PyBuffer` heap allocation
  src/core.rs
Due: cargo, clippy

chore: alias `ffi`
  src/core.rs
Due: cargo, clippy

test(fix): compare against unmodified hashlib
  tests/test_smoke.py
Due: pyright

chore: remove unused import
  src/core.rs
Due: cargo, clippy

ci: use OIDC for CodeCov
  .github/workflows/main.yml
Due: none

ci(fix): download coverage report correctly
  .github/workflows/main.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: remove `uv` pin - `setup-uv` will now get latest `uv` version from Astral instead of GitHub
  pyproject.toml
Due: none

ci(fix): checkout repository during coverage upload
  .github/workflows/main.yml
Due: none

internal(bench): decouple metadata generation and evaluand setup
  bench/src/__init__.py
Due: pyright

internal(bench): pass loop as positional argument
  bench/src/__init__.py
Due: pyright

chore: use `ty`
  .pre-commit-config.yaml
  bench/pyproject.toml
  bench/src/__init__.py
  bench/uv.lock
  pyproject.toml
  tests/test_smoke.py
  uv.lock
Due: pyright

internal(bench): simplify `replicate`
  bench/src/__init__.py
Due: pyright

internal(bench): try cython routine
  .gitignore
  bench/pyproject.toml
  bench/src/__init__.py
  bench/src/routine.pyi
  bench/src/routine.pyx
  bench/uv.lock
Due: pyright

refactor: rewrite in C using `am_send`
  .gitignore
  bench/.clang-format
  bench/pyproject.toml
  bench/src/routine.c
  bench/src/routine.pyi
  bench/src/routine.pyx
  bench/uv.lock
  taplo.toml
Due: none

refactor: inline struct macros
  bench/src/routine.c
Due: none

internal(bench/perf): optimise every single instruction
  bench/.clang-format
  bench/pyproject.toml
  bench/src/routine.c
  taplo.toml
Due: none

style: use elvis operator
  .github/workflows/lock.yml
  bench/src/routine.c
  pyproject.toml
Due: none

internal(bench): reduce async harness overhead (#132)
  .github/workflows/lock.yml
  .gitignore
  bench/.clang-format
  bench/pyproject.toml
  bench/src/__init__.py
  bench/src/routine.c
  bench/src/routine.pyi
  pyproject.toml
  taplo.toml
Due: pyright

ci: add clang format to pre-commit
  .pre-commit-config.yaml
  bench/src/routine.c
Due: none

chore: remove unnecessary casts
  bench/src/routine.c
Due: none

Path conditions:
  cargo-lock: any of: ^Cargo\.toml$
  cargo-lock-tests: any of: ^tests/Cargo\.toml$
  cargo-lock-perf: any of: ^perf/Cargo\.toml$
  cargo: any of: ^(src/|tests/).*\.rs$|^Cargo\.(toml|lock)$|^build\.rs$
  clippy: any of: ^(src/|build\.rs)
  clippy-tests: any of: ^tests/.*\.rs$
  clippy-perf: any of: ^perf/.*\.rs$
  pyright: any of: \.py$
