Repository winstxnhdw/gxhash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo, clippy, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: local
    hooks:
      - id: cargo
        name: cargo test
        entry: cargo test --manifest-path tests/Cargo.toml
        language: system
        files: ^(src|tests)/.*\.rs$
        pass_filenames: false

      - id: clippy
        name: clippy
        entry: cargo clippy
        language: system
        files: \.rs$
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        files: \.py$
        pass_filenames: false

ci(fix): set `working-directory`
  .github/workflows/performance.yml
Due: none

internal(refactor): reuse match statement in file_digest
  src/hashlib.rs
Due: cargo, clippy

docs: shorten toolchain explanation
  README.md
Due: none

ci: avoid some race conditions when publishing
  .github/workflows/clippy.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  perf/hash.rs
  perf/hashlib.rs
  perf/helpers.rs
  perf/workload.rs
  src/hashlib.rs
Due: cargo, clippy

ci(fix): use PAT token along with deploy key
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

chore: fix multiline commit message parsing
  CHANGELOG.md
  pyproject.toml
Due: none

docs: update bench docs to reflect reality
  bench/README.md
Due: none

internal(fix): multiply payload size by batch size
  bench/src/main.rs
Due: clippy

ci(refactor): use `startsWith` instead of `includes`
  .github/workflows/benchmark.yml
  .github/workflows/clippy.yml
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  .pre-commit-config.yaml
  Cargo.lock
  perf/Cargo.lock
  tests/Cargo.lock
Due: none

internal(bench): add relative latency benchmarks
  .github/workflows/typecheck.yml
  README.md
  bench/Cargo.toml
  bench/README.md
  bench/src/__init__.py
  bench/src/main.rs
Due: clippy, pyright

ci: use `ubuntu-slim` in `install` job
  .github/workflows/main.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

test: add doctests
  .github/workflows/formatter.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  pyproject.toml
  python/gxhash/core.pyi
  python/gxhash/gxhashlib.pyi
  uv.lock
Due: none

chore: run type checking and linter on bench
  .github/workflows/publish.yml
  .github/workflows/python.yml
  Makefile
  bench/pyproject.toml
  bench/uv.lock
  pyproject.toml
  tests/test_smoke.py
  uv.lock
Due: pyright

ci: split bench and core lints
  .github/workflows/python.yml
  tests/test_smoke.py
Due: pyright

ci(fix): disable doctest in Python 3.8
  .github/workflows/python.yml
Due: none

test(fix): ignore doctest import errors in Python 3.8
  .github/workflows/performance.yml
  pyproject.toml
  tests/test_smoke.py
Due: pyright

internal(bench): count yield statements instead
  bench/src/__init__.py
Due: pyright

ci: add workflow to detect bloat in sdist
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

internal(bench): add `StringZilla` to benchmarks
  bench/pyproject.toml
  bench/src/__init__.py
  bench/typings/stringzilla.pyi
  bench/uv.lock
Due: pyright

chore/docs: add `pytest` to pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  bench/README.md
Due: none

ci: remove unnecessary permissions from workflows
  .github/workflows/performance.yml
  .github/workflows/publish.yml
Due: none

chore: alias `ffi`
  src/core.rs
Due: cargo, clippy

feat/perf: let core API accept `PyBuffer`
  python/gxhash/core.pyi
  src/core.rs
  tests/helpers.rs
  tests/test_smoke.py
Due: cargo, clippy, pyright

perf: skip `PyBuffer` heap allocation
  src/core.rs
Due: cargo, clippy

chore: remove lifetime
  src/core.rs
Due: cargo, clippy

test(fix): compare against unmodified hashlib
  tests/test_smoke.py
Due: pyright

internal(bench): reduce `gather` overhead
  bench/src/__init__.py
Due: pyright

chore(bench): remove redundant `strict` param
  bench/src/__init__.py
Due: pyright

ci: harden CI security
  .github/workflows/benchmark.yml
  .github/workflows/formatter.yml
  .github/workflows/main.yml
  .github/workflows/performance.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

internal(bench): handwrite fast coroutine wrapper
  .github/workflows/benchmark.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  bench/pyproject.toml
  bench/src/__init__.py
  bench/typings/cityhash.pyi
Due: pyright

test(perf): use fast gather
  perf/hash.rs
  perf/helpers.rs
  perf/workload.rs
Due: clippy

chore: update lockfile
  bench/Cargo.lock
Due: none

ci: keep lockfile update hook but as manual stage
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

chore: fix cz not picking up multi-scope messages
  pyproject.toml
Due: none

internal(bench): give murmurhash a fighting chance
  .github/workflows/python.yml
  bench/src/__init__.py
Due: pyright

internal(bench): remove redundant queue
  bench/src/__init__.py
Due: pyright

ci: upload parquet file for external analysis
  .github/workflows/benchmark.yml
Due: none

docs/ci: update benchmarks parquet file name
  .github/workflows/benchmark.yml
  bench/README.md
Due: none

ci: fix lockfile on renovate update
  .github/workflows/lock.yml
Due: none

ci: add PAT token
  .github/workflows/lock.yml
Due: none
